﻿@model Superheroes.DATA.Superheroes_Villians

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Superheroes_Villians</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HeroName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeroName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alignment.AlignmentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alignment.AlignmentType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HeroID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
