﻿@model IEnumerable<Superheroes.DATA.Superheroes_Villians>

@{
    ViewBag.Title = "Superheroes";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
    @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HeroName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alignment.AlignmentType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HeroName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Origin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alignment.AlignmentType)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
            @Html.ActionLink("Edit", "Edit", new { id = item.HeroID }) 
                @:|
            }
            @if (User.IsInRole("Admin, Superhero"))
            {
                @Html.ActionLink("Details", "Details", new { id = item.HeroID }) @:|
            }
         
            @if (User.IsInRole("Admin"))
            {
            @Html.ActionLink("Delete", "Delete", new { id = item.HeroID })
            }

        </td>
    </tr>
}

</table>
