﻿@{
    ViewBag.Title = "Our Mission";
}
@*<hgroup>*@

    @*<h3>@ViewBag.Message</h3>*@
@*</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Use this area to provide additional information.</p>
    </div>
</div>*@
<div class="mission">
<p>
    Our mission is to provide protection against villains and educate our community about safety.  
    We hope to develop a community of pro-active citizens who are vigilant in keeping streets safe through knowledge and awareness. 
</p>
</div>